body {

  padding-top: 1em;
  font-family: sans-serif;
  color: #333;
}

table {
  max-width: 420px;
  max-height: 420px;
  width: 85vw;
  height: 85vw;
  border-spacing: 8px 2px;
}
td {
  width: 33%;
  height: 33%;
  padding: 5px; /* looks better this way*/
}
.cell {
  font-size: 2.4em;
  height: 100%;
  width: 100%;
}
.wincell {
  background-color: #c88;
}
.player-two {
  color: #933;
}

.center {
  margin: 0 auto;
}
.cannotuse {
  cursor: not-allowed;
}

button {
  cursor: pointer;
  border: none;
  color: #333;
}

#restart {
  font-size: 1.2em;
  padding: 5px 10px;
  margin: 20px auto;
  display: block;
}

.choose,
#restart {
  border-radius: 0.3em;
}
.choose:active,
#restart:active {
  background-color: #ccc;
}

.btn-green {
  background-color: #70d260;
}
.btn-green:active {
  background-color: #60c050 !important;
}
