body{
background-color: #ddd;

}
 .reap{
 	max-width: 1050px;
 	margin: auto;
}
 .vid-r{
	display: flex;
		margin:0 10px;
}
 .news-r{
	display: flex;	
	margin:0 10px;
}
 .news{
	width: 485px;
	height: 200px;
}
 .vid{
	width: 320px;
	height: 200px;
}
 .box{
	 background-color: #fff;
	 border: 1px solid #999;
	 margin: 20px 10px;
	 padding: 15px;
}
 .footer{
	width: 1000px;
	height: 100px;
}
 .header{
	width: 1000px;
	height: 100px;	
}